@import url("header/header.css");
@import url("verticalmenu/verticalmenu.css");
@import url("chat/msg.css");
* {
    outline: 1px dashed black;
    background-color: rgb(31, 31, 31);
}
.head {
    font-size: 10px;
    color: #acaaaa;
}
.yes {
    width: 40px;
    display: block;
    align-items: center;
    justify-content: center;
}
.chat-page {
    padding: 0 0 50px 0;
}